<nav
  class="fixed top-0 left-0 w-full z-50 backdrop-blur-3xl shadow-2xl bg-transparent"
>
  <div class="flex justify-between items-center px-6 py-2">
    <!-- Logo -->
    <div>
      <a class="text-base sm:text-3xl font-extrabold logo text-white">
        mohamed mohran
      </a>
    </div>

    <!-- Drawer for Mobile -->
    <div class="drawer-end">
      <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <!-- Button to open drawer -->
        <label for="my-drawer-4" class="btn btn-ghost">
          <i class="fa-solid fa-bars text-2xl text-white"></i>
        </label>
      </div>

      <div class="drawer-side z-50">
        <label for="my-drawer-4" class="drawer-overlay"></label>

        <div
          class="w-80 min-h-full bg-black/50 backdrop-blur-2xl text-white flex flex-col relative"
        >
          <!-- Close button -->
          <label for="my-drawer-4" class="absolute right-4 top-4 btn btn-ghost">
            <i class="fa-solid fa-xmark text-2xl"></i>
          </label>

          <!-- Menu Items -->
          <div>
            <ul
              class="menu p-5 pt-20 space-y-4 text-lg flex flex-col items-center"
            >
              <li class="w-full">
                <a
                  routerLink="/home"
                  routerLinkActive="router-link-active"
                  class="block w-full text-center hover:bg-zinc-800 rounded-lg py-2"
                  >Home</a
                >
              </li>
              <li class="w-full">
                <a
                  routerLink="/portfolio"
                  class="block w-full text-center hover:bg-zinc-800 rounded-lg py-2"
                  >Portfolio</a
                >
              </li>
              <li class="w-full">
                <a
                  routerLink="/contact"
                  class="block w-full text-center hover:bg-zinc-800 rounded-lg py-2"
                  >Contact</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
