<div class="genral-wrapper">
  <div class="page-wrapper">
    <div class="section-timeline-heading">
      <div class="container">
        <div class="padding-vertical-xlarge">
          <div class="timeline-main_heading-wrapper">
            <div class="margin-bottom-medium">
              <h2>Education & Internships</h2>
            </div>
            <p class="paragraph-large">
                My journey began with small incremental
              steps. <br />
              this timeline highlights the key moments that shaped me into a full-stack developer, showcasing the skills and experiences that define my growth in the tech industry.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="section-timeline" #timelineComponent>
      <div class="container">
        <div class="timeline_component">
          <div class="timeline_progress">
            <div class="timeline_progress-bar"></div>
          </div>
          <div class="timeline_item">
            <div class="timeline_left">
              <div class="timeline_date-text">
                Sep 2019
                <br>
                May 2023
              </div>
            </div>
            <div class="timeline_centre">
              <div class="timeline_circle"></div>
            </div>
            <div class="timeline_right">
              <div class="margin-bottom-xlarge">
                <div class="timeline_text">
                    Joined the Arab Open University to pursue my passion for technology, and graduated with a Bachelor's degree in Computer Science, laying the foundation for my journey as a full-stack developer
                </div>
              </div>
              <div class="timeline_image-wrapper">
                <img
                  src="aou.png"
                  loading="lazy"
                  width="480"
                  alt="arab open University"
                />
              </div>
            </div>
          </div>
          <div class="timeline_item">
            <div class="timeline_left">
              <div class="timeline_date-text">
                  Jan 2023
                <br>
                Jul 2023
              </div>
              
            </div>
            <div class="timeline_centre">
              <div class="timeline_circle"></div>
            </div>
            <div class="timeline_right">
              <div class="margin-bottom-xlarge">
                <div class="timeline_text">
                    Completed the “Java Spring Developer Track” learning internship through ITI Tech Leaps, gaining hands-on experience with the Spring Framework, including Spring Boot, dependency injection, and data access using Spring Data.
                </div>
              </div>
              <div class="timeline_image-wrapper">
                <img
                  src="iti.png"
                  loading="lazy"
                  width="480"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="timeline_item">
            <div class="timeline_left">
              <div class="timeline_date-text">
                Mar 2024
                <br>
                Aug 2024
            </div>
            </div>
            <div class="timeline_centre">
              <div class="timeline_circle"></div>
            </div>
            <div class="timeline_right">
              <div class="margin-bottom-xlarge">
                <div class="timeline_text">
                    Participating in the “GDSC Java Spring Track” learning internship, focusing on back-end Java development through hands-on projects, book studies (OCA, OCP), and building real-world RESTful APIs and web services using Spring Boot.
                </div>
              </div>
              <div class="timeline_image-wrapper">
                <img
                  src="gdsc.png"
                  loading="lazy"
                  width="480"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="timeline_item">
            <div class="timeline_left">
              <div class="timeline_date-text">
                May 2024
                <br>
                Nov 2024
            </div>
            </div>
            <div class="timeline_centre">
              <div class="timeline_circle"></div>
            </div>
            <div class="timeline_right">
              <div class="margin-bottom-xlarge">
                <div class="timeline_text">
                    Completed the “Full-Stack Developer Internship” at ITI Intensive Code Camp, where I developed real-world projects using both the MEAN (MongoDB, Express, Angular, Node.js) and MERN (MongoDB, Express, React, Node.js) stacks, including dynamic web applications, content dashboards, and a fully functional e-learning platform with integrated payment and admin systems.
                </div>
              </div>
              <div class="timeline_image-wrapper">
                <img
                  src="iti.png"
                  loading="lazy"
                  width="480"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="overlay-fade-top"></div>
          <div class="overlay-fade-bottom"></div>
        </div>
      </div>
      <div style="height: 50vh"></div>
    </div>
  </div>
</div>
