<!-- <div class="pt-20 bg-slate-950"> -->
<nav
  class="fixed top-0 left-0 w-full z-50 backdrop-blur-3xl shadow-2xl bg-transparent"
>
  <div class="flex justify-between items-center px-6 py-2">
    <!-- Logo -->
    <div>
      <a
        class="text-base sm:text-3xl  font-extrabold logo text-white"
      >
        mohamed mohran
      </a>
    </div>

    <!-- Drawer for Mobile -->
    <div class=" drawer-end">
      <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <!-- Button to open drawer -->
        <label for="my-drawer-4" class="btn btn-ghost">
          <i class="fa-solid fa-bars text-2xl text-white"></i>
        </label>
      </div>

      <div class="drawer-side z-50">
        <label for="my-drawer-4" class="drawer-overlay"></label>

        <div
          class="w-80 min-h-full bg-black/50 backdrop-blur-2xl text-white flex flex-col relative"
        >
          <!-- Close button -->
          <label for="my-drawer-4" class="absolute right-4 top-4 btn btn-ghost">
            <i class="fa-solid fa-xmark text-2xl"></i>
          </label>

          <!-- Menu Items -->
          <div>
            <ul class="menu p-5 pt-20 space-y-4 text-lg flex flex-col items-center">
              <li class="w-full">
                <a class="block w-full text-center hover:bg-zinc-800 rounded-lg py-2">Home</a>
              </li>
              <li class="w-full">
                <a class="block w-full text-center hover:bg-zinc-800 rounded-lg py-2">About</a>
              </li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</nav>

<div
  class="flex min-h-screen bg-gradient-to-b from-[#db2777] via-[#ef4444] to-[#f97316] pb-11"
>
  <div class="mx-auto">
    <div
      class="mx-auto mb-[40px] mt-[98px] h-[213px] w-[213px] overflow-hidden rounded-full bg-gradient-to-tr from-[#FF8660] to-[#8000FF]"
    >
      <img src="mohran.png" alt="" />
    </div>
    <h1
      class="max-w-screen-sm text-center text-[55px] font-extrabold text-white"
    >
      I do code and <br />
      have 
      <span
        class="text-transparent bg-clip-text bg-gradient-to-tr from-[#FF8660] to-[#8000FF]"
        >fun with it!</span
      >
    </h1>
    <p
      class="mx-auto mt-[40px] mb-[54px] text-[18px] font-light text-[#C5C5C5] text-center max-w-lg"
    >
      I am a seasoned full-stack software engineer with over 2 years of
      professional experience, specializing in front development.
    </p>
    <div class="text-center m-4">
      <button
        class="text-gray-800 self-center inline-block px-[30px] py-[16px] mr-[18px] bg-white rounded-full font-semibold text-[22px] mb-4"
      >
        Get In Touch
      </button>
      <!-- <div ></div> -->
      <button
        class="text-white inline-block px-[30px] py-[16px] bg-transparent border-2 rounded-full font-semibold text-[22px]"
      >
        Download CV
      </button>
    </div>
  </div>
</div>

<!-- </div> -->
<app-about />
<app-experience-and-eduction />