<div class="bg-zinc-300 main">
  <!-- Hero Section -->
  <div class="hero min-h-[50vh] bg-zinc-300">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold pb-5 text-slate-950">My Projects</h1>
        <p class="py-11 font-thin text-slate-950">Scroll to explore my work</p>
        <div #chevron class="flex flex-col text-slate-950">
          <i class="fa-solid fa-chevron-down translate-y-2"></i>
          <i class="fa-solid fa-chevron-down"></i>
        </div>
        <!-- <i class="fa-regular fa-chevrons-down"></i> -->
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card-wrapper">
      <div class="card bg-zinc-950">
        <!-- <img src="iti.png" alt="" /> -->
        <h2>Super Car</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nemo
          repellendus cum dignissimos inventore consequuntur soluta nam rerum
          explicabo quaerat, ducimus quod blanditiis. Quam provident repudiandae
          adipisci. Nihil, minima iure!
        </p>
      </div>
    </div>
    <div class="card-wrapper">
      <div class="card bg-zinc-950">
        <img src="iti.png" alt="" />
        <h2>Super Car</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nemo
          repellendus cum dignissimos inventore consequuntur soluta nam rerum
          explicabo quaerat, ducimus quod blanditiis. Quam provident repudiandae
          adipisci. Nihil, minima iure!
        </p>
      </div>
    </div>
    <div class="card-wrapper">
      <div class="card bg-zinc-950">
        <img src="iti.png" alt="" />
        <h2>Super Car</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nemo
          repellendus cum dignissimos inventore consequuntur soluta nam rerum
          explicabo quaerat, ducimus quod blanditiis. Quam provident repudiandae
          adipisci. Nihil, minima iure!
        </p>
      </div>
    </div>
    <div class="card-wrapper">
      <div class="card bg-zinc-950">
        <img src="iti.png" alt="" />
        <h2>Super Car</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nemo
          repellendus cum dignissimos inventore consequuntur soluta nam rerum
          explicabo quaerat, ducimus quod blanditiis. Quam provident repudiandae
          adipisci. Nihil, minima iure!
        </p>
      </div>
    </div>
    <div class="card-wrapper">
      <div class="card bg-zinc-950">
        <img src="iti.png" alt="" />
        <h2>Super Car</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nemo
          repellendus cum dignissimos inventore consequuntur soluta nam rerum
          explicabo quaerat, ducimus quod blanditiis. Quam provident repudiandae
          adipisci. Nihil, minima iure!
        </p>
      </div>
    </div>
  </div>
</div>
