main {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.container {
  display: flex;
  flex-direction: column;
}

.card-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 3rem 0;
}

.card {
  width: 90%;
  max-width: 26em;
  margin: 20px auto;
  padding: 2em 1em;
  // background: #0b081a;
  border-radius: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  transform: translateY(50px); // ⬇️ Start lower
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;

  @media (min-width: 768px) {
    width: 70%;              // take more space on medium screens
    max-width: 35em;         // increase max width
    padding: 4em 2em;
  }

  @media (min-width: 1024px) {
    width: 60%;              // even more space on large screens
    max-width: 42em;         // even bigger card
  }
}

img {
  width: 100%;
  max-width: 13rem;
  border-radius: 10px;
  height: auto;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0 1rem;
  
  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}

p {
  
  padding: 0 1rem;
  font-size: 0.9rem;
  
  @media (min-width: 768px) {
    font-size: 1rem;
  }
}